## Practica 07: Análisis de Datos caso Salario de Especialistas en Inteligencia Artificial y Machine Learning

Practica 06: Análisis de Datos caso Salario de Especialistas en Inteligencia Artificial y Machine Learning

Asignatura: Extracción de Conocimientos de Base de Datos


PE: Ingeniería en Desarrollo  y Gestión de Software - 9°B

In [2]:
# Carga de Paquetes y Librerias a utilizar

# Basico (Standard)

import numpy as np #Sirve para poder realizar procesamientos básicos númericos en datos cuantitativos
import pandas as pd #Sirve para realizar los procesos ETL en conjunto de datos
import time #Sirve para la manipulacón de datos en diferentes formatos de tiempo


# Graficadores (Plots)

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

!pip install pymysql
from sqlalchemy import create_engine
import pymysql

import requests

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

Actividad de tarea

In [3]:
# Importa la función create_engine desde SQLAlchemy, que se utiliza para establecer una conexión con la base de datos.
# Crea una instancia de motor de base de datos (engine) usando SQLAlchemy con el conector PyMySQL.
engine = create_engine('mysql+pymysql://root:1234@localhost:3307/mis602_ass2')

In [4]:
# Lee todos los registros de la tabla 'appointment' desde la base de datos
# y los guarda en un DataFrame de pandas.
df = pd.read_sql('SELECT * FROM appointment',engine)

In [5]:
# Elimina filas duplicadas y luego elimina filas con valores nulos del DataFrame.
df = df.drop_duplicates().dropna()

In [6]:
# Importa el módulo datetime para trabajar con fechas y horas.
import datetime

# Obtiene la fecha y hora actual.
hoy = datetime.datetime.now()

# Filtra las citas cuya fecha sea menor o igual a la fecha actual y las ordena por fecha de cita.
df_proximas = df[df['appointment_date'] <= hoy].sort_values('appointment_date')

# Muestra las primeras filas del DataFrame resultante.
df_proximas.head()

,appointment_id,patient_id,doctor_id,appointment_date,notes,status
2,135,3,3,2023-05-10 11:15:00,Discuss test results,completed
82,215,3,3,2023-05-10 11:15:00,Discuss test results,completed
88,221,9,9,2023-05-12 11:30:00,Annual checkup,completed
8,141,9,9,2023-05-12 11:30:00,Annual checkup,completed
94,227,15,15,2023-05-14 10:15:00,Annual checkup,Cancelled

In [ ]:
##5.2

In [7]:
# Se realiza una solicitud a la API pública de Rick and Morty para obtener información sobre los personajes.
# Si la respuesta es exitosa (código 200), los datos en formato JSON se extraen y se convierten en un DataFrame de pandas,
# permitiendo analizarlos o visualizarlos fácilmente. En caso de error en la solicitud, se muestra un mensaje con el código de estado HTTP.
req= requests.get('https://rickandmortyapi.com/api/character')
if req.status_code == 200:
    data = req.json()
    personajes = data['results']# Convierte a diccionario/lista
    df = pd.DataFrame(personajes) 
else:
    print(f"Error al obtener datos: {response.status_code}")

In [8]:
# Elimina filas duplicadas del DataFrame considerando solo las columnas 'id', 'name', 'status', 'species' y 'gender',
# asegurando que cada personaje sea único según esas características clave.
df = df.drop_duplicates(subset=['id', 'name', 'status', 'species', 'gender'])

In [9]:
# Este bloque transforma y limpia el DataFrame obtenido de la API de Rick and Morty.
# Primero, extrae los nombres de origen y ubicación desde las columnas anidadas 'origin' y 'location',
# y los guarda en nuevas columnas: 'origin_name' y 'location_name'.
# Luego, elimina las columnas originales anidadas para simplificar el DataFrame.
# Se eliminan duplicados considerando únicamente las columnas clave 'id' y 'name'.
# Finalmente, se realiza una consulta para filtrar únicamente a los personajes que están vivos y son humanos,
# mostrando solo las columnas más relevantes.
df['origin_name'] = df['origin'].apply(lambda x: x['name'] if isinstance(x, dict) else None)
df['location_name'] = df['location'].apply(lambda x: x['name'] if isinstance(x, dict) else None)
    
    # 3. Eliminar columnas anidadas que complican operaciones
df = df.drop(columns=['origin', 'location'])
    
    # 4. Eliminar duplicados basados en columnas clave
df = df.drop_duplicates(subset=['id', 'name'])
    
    # 5. Consulta: personajes vivos y humanos
consulta = df[(df['status'].str.lower() == 'alive') & (df['species'].str.lower() == 'human')]
    
    # Mostrar resultados
print(consulta[['id', 'name', 'status', 'species', 'origin_name', 'location_name']])

    id           name status species                    origin_name  \
0    1   Rick Sanchez  Alive   Human                  Earth (C-137)
1    2    Morty Smith  Alive   Human                        unknown
2    3   Summer Smith  Alive   Human  Earth (Replacement Dimension)
3    4     Beth Smith  Alive   Human  Earth (Replacement Dimension)
4    5    Jerry Smith  Alive   Human  Earth (Replacement Dimension)
16  17          Annie  Alive   Human                  Earth (C-137)
17  18  Antenna Morty  Alive   Human                        unknown

                    location_name
0                Citadel of Ricks
1                Citadel of Ricks
2   Earth (Replacement Dimension)
3   Earth (Replacement Dimension)
4   Earth (Replacement Dimension)
16                   Anatomy Park
17               Citadel of Ricks

In [14]:
# Guarda el DataFrame filtrado 'consulta' en un archivo CSV en la ruta especificada,
# sin incluir los índices de las filas en el archivo resultante.
consulta.to_csv(r'C:\Users\PC-19\Desktop\personajes.csv', index=False)